*.a
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
.dirstamp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
*.la
libltdl/
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
Makefile.mingw
man/ettercap.8
man/ettercap_curses.8
man/ettercap_plugins.8
man/etter.conf.5
man/etterfilter.8
man/etterlog.8
missing
*.o
src/ettercap
utils/etterfilter/ef_grammar.c
utils/etterfilter/ef_grammar.h
utils/etterfilter/ef_syntax.c
utils/etterfilter/etterfilter
utils/etterlog/etterlog
ylwrap
