*.a
*.la
*.lo
*.o
*.so
.deps/
.dirstamp
.libs/
/Makefile.mingw
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/include/config.h
/include/config.h.in
/include/stamp-h1
/libltdl/
!/libltdl/m4/acltx_prog_ps2pdf.m4
/libtool
/man/*.pdf
/man/*.ps
/man/etter.conf.5
/man/ettercap.8
/man/ettercap_curses.8
/man/ettercap_plugins.8
/man/etterfilter.8
/man/etterlog.8
/src/ettercap
/utils/etterfilter/ef_grammar.c
/utils/etterfilter/ef_grammar.h
/utils/etterfilter/ef_syntax.c
/utils/etterfilter/etterfilter
/utils/etterlog/etterlog
Makefile
Makefile.in
TAGS
/ettercap
/etterfilter
/etterlog
